a:focus {
	outline: thin dotted;
}

button:focus:after {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
	width: 100%;
}

button:focus, button:active, button:focus {
	color: #fff;
	border-color: #f6a225;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	background: #f6a225;
	color: #fff;
	border-color: #f6a225;
}

.widget ul li a:focus, .shop-sidebar ul li a:focus {
	color: #f6a225;
}

.button:focus, #cta-section .cta-content a:focus, .bttn a:focus, 
.widget ul li a.button:focus, .woocommerce #respond input#submit.alt:focus, 
.woocommerce a.button.alt:focus, .woocommerce button.button.alt:focus, 
.woocommerce input.button.alt:focus, .woocommerce #respond input#submit:focus, 
.woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus, 
.widget ul li a.added_to_cart:focus, .edit-link a:focus, .woocommerce a.added_to_cart:focus,
.single-product .entry-summary .yith-wcwl-wishlistexistsbrowse a:focus {
	background: none;
	color: #fff;
	border-color: #f6a225;
}

.woocommerce #respond input#submit:focus, .woocommerce input.button:focus {
	background: #f6a225;
}

.button:focus:before, #cta-section .cta-content a:focus:before, .bttn a:focus:before, 
.woocommerce #respond input#submit.alt:focus:before, .woocommerce a.button.alt:focus:before, 
.woocommerce button.button.alt:focus:before, .woocommerce input.button.alt:focus:before, 
.woocommerce a.button:focus:before, .woocommerce button.button:focus:before, .added_to_cart:focus:before, 
.edit-link a:focus:before,
.single-product .entry-summary .yith-wcwl-wishlistexistsbrowse a:focus:before {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
	width: 100%;
}

.whislist-quickview .button:focus:before {
    opacity: 0 !important;
    visibility: hidden !important;
    width: 0 !important;
}

.nav-links a:focus:after {
	width: 30%;
	border-bottom-color: #f6a225;
}
.nav-links a:focus {
	color: #f6a225;
}

.single .entry-content a:focus {
    text-decoration: underline;
}

.social-icons a.facebook:focus {
	background: none;
	color: #4060a5;
}
.social-icons a.twitter:focus {
	background: none;
	color: #00abe3;
}
.social-icons a.gplus:focus {
	background: none;
	color: #e64522;
}
.social-icons a.youtube:focus {
	background: none;
	color: #ff3334;
}
.social-icons a.pinterest:focus {
	background: none;
	color: #cb2027;
}
.social-icons a.linkedin:focus {
	background: none;
	color: #007bb6;
}
.social-icons a.vimeo:focus {
	background: none;
	color: #44bedf;
}
.social-icons a.instagram:focus {
	background: none;
	color: #a59179;
}
.social-icons a.skype:focus {
	background: none;
	color: #03aceb;
}

#back-to-top:focus {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}

.comments-area ol li article .comment-meta .comment-metadata a:focus, .logged-in-as a:focus {
	color: #f6a225;
}

.comments-area ol li article .comment-meta .comment-metadata span a:focus {
	color: #fff;
}

.comments-area ol li article .reply a:focus {
	background: #f6a225 none repeat scroll 0 0;
	color: #fff;
}

.comment-respond h3 a:focus:after {
	width: 50%;
}

.bx-wrapper .bx-prev:focus::after, 
#main-slider .owl-nav div.owl-prev:focus:after {
	background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: all ease-in-out 0.4s;
	-webkit-transition: all ease-in-out 0.4s;
}

.bx-wrapper .bx-next:focus::after, 
#main-slider .owl-nav div.owl-next:focus:after {
	background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transition: all ease-in-out 0.4s;
	-webkit-transition: all ease-in-out 0.4s;
}

.bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a.active, 
#main-slider .owl-dot.active span, #main-slider.clickable .owl-dot:focus span {
	background: #f6a225;
}

.ticker .slick-slider li h5 a:focus {
	color: #f6a225;
}

.account-wrap div a:focus {
	background: #f6a225;
	color: #fff;
}
.account-wrap div a:focus .fa {
	color: #fff;
}

.wrap-right .header-cart:focus {
	background: #f0f0f0;
}

.header-call-to > a:focus {
	color: #f6a225;
}

.header-cart:focus .widget {
	top: 100%;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
}

.main-navigation ul li:focus a {
	color: #f6a225;
} 

.main-navigation ul li:focus-within > ul {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
}

.main-navigation ul li:focus a + ul li a {
	color: #fff;
}

.main-navigation ul li ul li a:focus:after {
	width: 100%;
	border-bottom-color: #bb7b1c; 
}

.main-navigation ul li ul li a:focus:after {
	width: 100%;
	border-bottom-color: #bb7b1c; 
}

.menu-wrap .header-search a:focus {
	background: #f6a225;
	color: #fff;
    border-top-color: #f6a225;
}

.header-search .search-box .close:focus {
	color: red;
}

#slider-section .home-viewmore.slider-viewmore:focus {
	color: #fff;
}

#slider-section .home-viewmore.slider-viewmore:focus:after {
	width: 100%;
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
}

#promo-section .promo-block:focus img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

h3.product-title:focus {
    color: #f6a225;
    font-size: 16px;
    transition: all ease-in-out 0.4s;
	-webkit-transition: all ease-in-out 0.4s;
}

.woocommerce ul.products li.product h3.product-title:focus {
	font-size: 18px;
}

.new-prod-slide li:focus .whislist-quickview, .products li:focus .whislist-quickview {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.yith-wcwl-add-to-wishlist:focus, .yith-wcwl-add-to-wishlist .button:focus, 
.yith-wcwl-add-to-wishlist .yith-wcwl-add-button .button:focus {
	color: #f6a225;
}

.whislist-quickview a.button.yith-wcqv-button:focus {
	color: #f6a225;
}

.widget_wp_store_cat_product .feature-cat-image:focus .product-cat-desc {
	background: rgba(246, 162, 37, 0.75);
	color: #fff;
}

.widget_wp_store_offer:focus .offer-img img {
	opacity: 0.8;
	filter: alpha(opacity= 80);
}

.sidebar .widget_wp_store_offer .offer-wrap:focus .offer-content-wrap {
	padding-top: 25px;
	padding-bottom: 25px;
}

.blogs > h5 a:focus {
	color: #f6a225;
}

.blogs > h5 a:focus:after {
	width: 20%;
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
}

#widget-area-three-section .woocommerce ul.cart_list li:focus img, 
#widget-area-three-section .woocommerce ul.product_list_widget li:focus img {
	opacity: 0.8;
	filter: alpha(opacity= 80);
}

#widget-area-three-section .widget ul li .product-title:focus {
	color: #f6a225;
}

#widget-icon-section .widget:focus .fa {
	color: #f6a225;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

#brand-section .brands img:focus {
	opacity: 0.5;
	filter: alpha(opacity= 50);
}

.footer-top .top-footer-menu ul li a:focus {
	color: #f6a225;
}

.top-footer .widget ul li a:focus {
	color: #f6a225;
}

.footer-copyright .copyright-text a:focus {
	color: #fff;
}

.widget_calendar .calendar_wrap table tfoot tr td a:focus {
	background: #f6a225;
	color: #fff;
}

.widget_tag_cloud .tagcloud a:focus, .widget_product_tag_cloud .tagcloud a:focus {
	background: #f6a225;
	color: #fff;
}

.widget_wp_store_cta_simple a.btn:focus {
	background: none;
	color: #fff;
	border-color: #f6a225;
}

.widget_wp_store_cta_simple a.btn:focus:after {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
	width: 100%;
}

.widget_wp_store_cta_video .video-bkg-img:focus .fa {
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	color: #333;
}

.widget_wp_store_promo .promo-btn:focus {
	border-color: #f6a225;
	background: #f6a225;
	color: #fff;
}

.form-row.place-order .button.alt:focus {
	background: #f6a225;
}

.showlogin:focus, .showcoupon:focus, .lost_password a:focus {
	color: #f6a225;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:focus {
	background: #f6a225 none repeat scroll 0 0;
	border-color: #c48306;
	color: #fff;
}

.woocommerce .woocommerce-breadcrumb a:focus {
	color: #f6a225;
}

.woocommerce-page.woocommerce .products li .whislist-quickview .button:focus {
	color: #f6a225;
}

.woocommerce .shop-sidebar ul.cart_list li a:focus .product-title, 
.woocommerce .shop-sidebar ul.product_list_widget li a:focus .product-title {
	color: #f6a225;
}

.woocommerce .shop-sidebar ul.cart_list li:focus img, 
.woocommerce .shop-sidebar ul.product_list_widget li:focus img  {
	opacity: 0.8;
	filter: alpha(opacity= 80);
}

.woocommerce-page ul.products li a.button.ajax_add_to_cart:focus:before, 
.shop_table.wishlist_table tbody tr td.product-add-to-cart a.button.ajax_add_to_cart:focus:before {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
	width: 100%;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove:focus, 
.woocommerce.widget_shopping_cart .cart_list li a.remove:focus {
	background-color: #f6a225;
}

.single .product_meta span a:focus {
	color: #f6a225;
}

.woocommerce #respond input#submit.alt.disabled:focus, 
.woocommerce #respond input#submit.alt:disabled:focus, 
.woocommerce #respond input#submit.alt[disabled]:disabled:focus, 
.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:focus, 
.woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:focus, 
.woocommerce a.button.alt[disabled]:disabled:focus, 
.woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:focus, 
.woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:focus, 
.woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:focus, 
.woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:focus, 
.woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:focus, 
.woocommerce input.button.alt[disabled]:disabled, .woocommerce input.button.alt[disabled]:disabled:focus {
	background-color: transparent;
	color: #333;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:focus {
	background: #f6a225 none repeat scroll 0 0;
	color: #fff;
}

.archive article .entry-title a:focus {
	color: #f6a225;
}

.archive article .entry-header .entry-meta a:focus, 
.single .page-header .entry-meta a:focus {
	color: #f6a225;
}

.archive article .wrap-content .entry-content a:focus::after {
	visibility: visible;
	width: 50%;
}

.archive article .wrap-content .entry-footer a:focus, .single .entry-footer a:focus {
	color: #f6a225;
	text-decoration: underline;
}

.archive article .wrap-content .entry-footer .edit-link a:focus, 
.single .entry-footer .edit-link a:focus {
	color: #fff;
	text-decoration: none;
}

.search-results article .entry-title a:focus {
	color: #f6a225;
}

.search-results article .entry-title a:focus:after {
	visibility: visible;
	width: 30%;
}

.search-results .entry-meta a:focus {
	color: #f6a225;
}

.wp-block-categories a:focus,
.wp-block-archives a:focus,
.wp-block-latest-posts a:focus  {
	color: #f6a225;
}

button.menu-toggle:focus{
	outline: thin 1px #000;
}